*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
header{
    display: flex;
    padding: 5px 30px;
    background-color: #F28B00;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    z-index: 999;
    top: 0;
}

.logo-img{
    width: 80px;
    height: 50px;
    border-radius: 30px;
}
nav{
    display: flex;
    column-gap: 40px;
}
a{
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    &:hover {
        color: black;
    }
}
.ipad{
    color: white;
    font-size: 20px;
}
input{
    display: none;
}
#check:checked ~ nav{
    display: block;
}
.icon{
    display: none;
}
.sec-1{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
    url(multiple\ gadgets.png);
    background-position: center;
    background-size: cover;
    padding-top: 10px;
    margin-top: 50px;
    padding-inline:5% ;
    padding-block: 20px;
    width: 100%;
    height:fit-content;
    div{
        display: flex;
        flex-direction: column;
    }
    div :nth-child(1){
        font-size: 35px;
        font-weight: 800;
        color: #ffffff;
        }
    div :nth-child(2){
        font-size: 23px;
        margin-block: 15px;
        max-width: 45%;
        font-weight: 500;
        color: #FFFFFF;
    }
    div :nth-child(3){
        font-size: 18px;
        color: #FFFFFF;
        background-color: #F28B00;
        width: 13%;
        padding: 10px;
        border-radius: 10px;
        margin-top: 30px;
        border: none;
        cursor: pointer;
        &:hover{
            background-color: #cc6000;
        }    
    }
}
.our-services{
    display: flex;
    background-color: #eee;
    column-gap: 2px;
    padding-bottom: 7rem;
}
.service-1{
    background-color: white;
    width: 16.533%;
    padding: 20px;
    height: 8rem;
}
.service-text{
    max-width: 80%;
    color: #919191;
    font-size: 13px;
    margin-top: 10px;
}
.sec-3{
    display: flex;
    background-color: #eee;
    padding-bottom: 100px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.camera{
    display: flex;
    width: 42%;
    justify-content: space-around;
    border-radius: 10px;
    background-color: white;
    padding-inline: 20px;
    align-items: center;
    height: fit-content;
    p{
        max-width: 60%;
        line-height: 40px;
        span:nth-child(1){
            font-size: 18px;
        }
        span:nth-child(2){
            font-size: 28px;
            font-weight: 700;
            color: #F28B00;
        }
        span:nth-child(3){
            font-size: 50px;
            font-weight: 700;
            color: #cc6600;
        }
    }
}
.watch{
    display: flex;
    width: 42%;
    padding-inline: 20px;
    background-color: white;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    height: fit-content;
    p{
        max-width: 60%;
        line-height: 40px;
        span:nth-child(1){
            font-size: 18px;
        }
        span:nth-child(2){
            font-size: 28px;
            font-weight: 700;
            color: #F28B00;
        }
        span:nth-child(3){
            font-size: 50px;
            font-weight: 700;
            color:#cc6600;
        }
    }
}
.products{
    display: flex;
    padding-inline: 7rem;
    column-gap: 6rem;
    padding-top: 20px;
    padding-block: 50px;
}
.pro-categories{
    line-height: 30px;
    h3{
        color: #484848;
    }
}
ol{
    list-style-type: disc; 
    color: #919191; 
    font-size: 15px;
}
.product-1{
    background-image:  linear-gradient(
      rgba(242, 139, 0, 0.3),
      rgba(242, 139, 0, 0.3)
    ),
    url(product-banner-1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding-inline: 8rem;
    background-repeat: no-repeat;
    p:nth-child(1){
        color: #F28B00;
        font-size: 40px;
    }
    p:nth-child(2){
        color: #FFFFFF;
        font-weight: 700;
        font-size: 45px;
    }
    button:nth-child(3){
        color: #FFFFFF;
        background-color: #F28B00;
        font-size: 15px;
        border: none;
        border-radius: 10px;
        padding-inline: 10px;
        cursor: pointer;
        &:hover{
            background-color: #cc6000;
        }
    }
}
.pro-class-1{
    display: flex;
    border-color: #aaa;
    flex-direction: column;
    background-color: #EEE;
    gap: 50px;
    padding-top: 20px;
}
.pro-class-1-heading{
    display: flex;
    column-gap: 20px;
    padding-inline: 5%;
    p:nth-child(1){
        font-size: 35px;
        color: #F28B00;
        margin-right: 80px;
    }
    p:nth-child(2){
        display: flex;
        column-gap: 20px;
    }
    button:nth-child(1){
        background-color: #F28B00;
        color: white;
        border: 1px solid #eee;
        border-radius: 10px;
        padding-inline: 10px;
        cursor: pointer;
        padding-block: 10px;
    }
}
.pro-btn{
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #eee;
    border-radius: 10px;
    padding-block: 10px;
    padding-inline: 10px;
    cursor: pointer;
}
.phone-accesories{
    display: flex;
    flex-wrap: wrap;
}
 .airpods{
    width: 25%;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
 }
 #airpods{
    border-radius: 10px;
 }
 .pro-class-2{
    margin-bottom: 100px;
 }
 .pro-head{
    background-color: #F28B00;
    color: #FFFFFF;
    text-align: center;
    padding-block: 10px;
    p{
        font-size: 20px;
    }
 }
 .products-2{
    background-color: #DDDD;
    display: flex;
 }
@media (max-width:767px) {
    nav{
        display: none;
        background-color: orange;
        gap: 50px;
        flex-direction: column;
        position: absolute;
        right: 70px;
        top:50px
    }
    .lap-1{
       max-width: 100%;  
    }
    .icon{
        display: block;
    }
    header{
        display: flex;
        gap: 1rem;
        width: 100%;
        padding: 10px 20px;
    }
    .sec-1{
        width: 100%;
        padding-inline: 5%;
    div :nth-child(1){
        font-size: 35px;
        font-weight: 800;
        color: #ffffff;
        }
    div :nth-child(2){
        font-size: 30px;
        margin-block: 20px;
        max-width: 90%;
    }
    div :nth-child(3){
        width:30% ; 
        font-size: 30px; 
    }
    }
    .our-services{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        column-gap: 0.5%;
    }
    .service-1{
        width: 49.5%;
        h4{
            font-size: 22px;
        }
    }
    .service-text{
        font-size: 23px;
    }
    .sec-3{
        max-width: 100%;
        flex-direction: column;
        row-gap: 30px;
    }
    .camera{
        width: 80%;
        height: fit-content;
        padding: 10px;
    }
    .watch{
        width: 80%;
        height: fit-content;
        padding: 10px;
    }
    .products{
        flex-direction: column;
        row-gap: 20px;
        margin: 0;
        padding: 10%;
    }
    .product-1{
        width: 100%;
        padding-inline: 0;
        padding-block: 20px;
        margin: 0;
        buttton{
            padding-inline: 20px;
            font-size: 30px;
        }
    }
    .pro-class-1{
        flex-direction: column;
    }
    .pro-class-1-heading{
        flex-direction: column;
        row-gap: 20px;
        p:nth-child(1){
            text-align: center;
        }
        p:nth-child(2){
            display: flex;
            max-width: 100%;
            flex-wrap: wrap;
            gap: 5%; 
        }
        button:nth-child(1){
            width: 40%;
            margin-bottom: 20px;
        }
    }
    .pro-btn{
        width: 40%;
        padding-block: 10px;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .phone-accesories{
        max-width: 98%;
        justify-content: center;
        flex-wrap: wrap;

    }
    .airpods{
        width: 45%;
        p:nth-child(2){
            font-size: 20px;
        }
        p:nth-child(3){
            font-size: 25px;
        }
        p:nth-child(4){
            font-size: 25px;
        }
    }
}
