*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
header{
    display: flex;
    padding: 5px 30px;
    background-color: #F28B00;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    z-index: 999;
    top: 0;
}

.logo-img{
    width: 80px;
    height: 50px;
    border-radius: 30px;
}
nav{
    display: flex;
    column-gap: 40px;
}
a{
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    &:hover {
        color: black;
    }
}
.ipad{
    color: white;
    font-size: 20px;
}
input{
    display: none;
}
#check:checked ~ nav{
    display: block;
}
.icon{
    display: none;
}
.sec-1{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
    url(multiple\ gadgets.png);
    background-position: center;
    background-size: cover;
    padding-top: 10px;
    margin-top: 50px;
    padding-inline:5% ;
    padding-block: 20px;
    width: 100%;
    height:fit-content;
    div{
        display: flex;
        flex-direction: column;
    }
    div :nth-child(1){
        font-size: 35px;
        font-weight: 800;
        color: #ffffff;
        }
    div :nth-child(2){
        font-size: 23px;
        margin-block: 15px;
        max-width: 45%;
        font-weight: 500;
        color: #FFFFFF;
    }
    div :nth-child(3){
        font-size: 18px;
        color: #FFFFFF;
        background-color: #F28B00;
        width: 13%;
        padding: 10px;
        border-radius: 10px;
        margin-top: 30px;
        border: none;
        cursor: pointer;
        &:hover{
            background-color: #cc6000;
        }    
    }
}
.our-services{
    display: flex;
    padding-top: 3rem;
    background-color: #eee;
    column-gap: 2px;
    padding-bottom: 7rem;
}
.service-1{
    background-color: white;
    width: 16.533%;
    padding: 20px;
    height: 8rem;
}
.service-text{
    max-width: 80%;
    color: #919191;
    font-size: 13px;
    margin-top: 10px;
}
.sec-3{
    display: flex;
    background-color: #eee;
    padding-bottom: 100px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.camera{
    display: flex;
    width: 42%;
    justify-content: space-around;
    border-radius: 10px;
    background-color: white;
    padding-inline: 20px;
    align-items: center;
    height: fit-content;
    p{
        line-height: 40px;
        span:nth-child(1){
            font-size: 14px;
        }
        span:nth-child(2){
            font-size: 25px;
            font-weight: 800;
            color: #F28B00;
        }
        span:nth-child(3){
            font-size: 50px;
            font-weight: 700;
            color: #cc6600;
        }
    }
}
.watch{
    display: flex;
    width: 42%;
    padding-inline: 20px;
    background-color: white;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    height: fit-content;
    p{
        line-height: 40px;
        span:nth-child(1){
            font-size: 14px;
        }
        span:nth-child(2){
            font-size: 28px;
            font-weight: 700;
            color: #F28B00;
        }
        span:nth-child(3){
            font-size: 50px;
            font-weight: 700;
            color:#cc6600;
        }
    }
}
.products{
    display: flex;
    padding-inline: 7rem;
    column-gap: 6rem;
    padding-top: 20px;
    padding-block: 50px;
}
.pro-categories{
    line-height: 30px;
    h3{
        color: #484848;
    }
}
ol{
    list-style-type: disc; 
    color: #919191; 
    font-size: 18px;
}
.product-1{
    background-image:  linear-gradient(
      rgba(242, 139, 0, 0.3),
      rgba(242, 139, 0, 0.3)
    ),
    url(product-banner-1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding-inline: 8rem;
    background-repeat: no-repeat;
    p:nth-child(1){
        color: #F28B00;
        font-size: 40px;
    }
    p:nth-child(2){
        color: #FFFFFF;
        font-weight: 700;
        font-size: 45px;
    }
    button:nth-child(3){
        color: #FFFFFF;
        background-color: #F28B00;
        font-size: 15px;
        border: none;
        border-radius: 10px;
        padding-inline: 10px;
        cursor: pointer;
        &:hover{
            background-color: #cc6000;
        }
    }
}
.pro-class-1{
    display: flex;
    border-color: #aaa;
    flex-direction: column;
    background-color: #ccc;
    gap: 50px;
    padding-top: 20px;
}
.pro-class-1-heading{
    display: flex;
    column-gap: 20px;
    padding-inline: 5%;
    p:nth-child(1){
        font-size: 35px;
        color: #F28B00;
        margin-right: 80px;
    }
    p:nth-child(2){
        display: flex;
        column-gap: 20px;
    }
    button:nth-child(1){
        background-color: #F28B00;
        color: white;
        border: 1px solid #eee;
        border-radius: 10px;
        padding-inline: 10px;
        cursor: pointer;
        padding-block: 10px;
    }
}
.pro-btn{
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #eee;
    border-radius: 10px;
    padding-block: 10px;
    padding-inline: 10px;
    cursor: pointer;
}
.phone-accesories{
    display: flex;
    flex-wrap: wrap;
}
 .airpods{
    width: 25%;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
 }
 #airpods{
    border-radius: 10px;
 }
 .pro-class-2{
    padding-bottom: 100px;
    background-color: #ccc;
 }
 .pro-head{
    background-color: #F28B00;
    color: #FFFFFF;
    text-align: center;
    padding-block: 10px;
    p{
        font-size: 20px;
    }
 }
 .products-2{
    background-color: #FFFFFF;
    display: flex;
    column-gap: 5%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
 }
 .phone-div{
    width: 20%;
 }
 .Phone-img{
    width: 90%;
    align-self: center;
    height: 18rem;
    border-radius: 10px;
    margin-top: 20px;
 }
 .pro-class-3{
    padding-bottom: 100px;
    background-color: #ccc;
 }
 .pro-head-2{
    background-color: #F28B00;
    color: #FFFFFF;
    text-align: center;
    padding-block: 10px;
    p{
        font-size: 20px;
    }
 }
 .products-3{
    background-color: #FFFFFF;
    display: flex;
    column-gap: 5%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
 }
 .tablet-div{
    width: 20%;
 }
 .tab-img{
    width: 90%;
    align-self: center;
    height: 18rem;
    border-radius: 10px;
    margin-top: 20px;
 }
 footer{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    background-color: #16141491;
    p{
        font-size: 20px;
    }
}
.footer-menus-1{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 10px;
    padding-bottom: 30px;
    justify-content: center;
    color: #FFFFFF;
}
.footer-about{
    max-width: 75% !important;
    line-height: 30px;
}
.footer-row-1{
    display: flex;
    padding-block: 20px;
    flex-direction: column;
    row-gap: 10px;
    width: 24%;
    p:nth-child(2){
        color: #ffffff;
        font-size: 20px;
        max-width: 100%;
        font-weight: 500;
    }
    h3{
        color: #484848;
    }
}
.foot-menus{
        p{  color: #ffffff;
            cursor: pointer;
            line-height: 40px;
            &:hover{
                color: #F28B00;
            }
        }
}
.nav-apps{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.fa-brands{
    font-size: 30px;
}
.copy{
    text-align: center;
    padding-top: 30px;
    p{
        font-size: 15px;
        color: #FFFFFF;
    }
}
@media (max-width:767px) {
    nav{
        display: none;
        background-color: orange;
        gap: 20px;
        flex-direction: column ;
        position: absolute;
        height: 200rem;
        width: 90%;
        z-index: 999;
        top:58px;
        left: 0;
        padding-left: 30px;
        padding-top: 20px;
        a{
            font-size: 20px;
        }
        p{
            padding-bottom: 50px;
        }
    }
    .lap-1{
       max-width: 100%;  
    }
    .icon{
        display: block;
    }
    header{
        display: flex;
        gap: 1rem;
        width: 100%;
        padding: 1px 10px;
    }
    .sec-1{
        width: 100%;
    div :nth-child(1){
        font-size: 25px;
        font-weight: 800;
        color: #ffffff;
        }
    div :nth-child(2){
        font-size: 22px;
        margin-block: 20px;
        max-width: 90%;
    }
    div :nth-child(3){
        width:40% ; 
        font-size: 20px; 
    }
    }
    .our-services{
        display: flex;
        width: 100%;
        flex-direction: column;
        row-gap: 20px;
    }
    .service-1{
        width: 70%;
        height: 35%;
        align-self: center;
        border-radius: 20px;
        h4{
            font-size: 22px;
            text-align: center;
        }
    }
    .service-text{
        font-size: 23px;
        max-width: 80%;
        margin-left: 30px;
    }
    .sec-3{
        max-width: 100%;
        flex-direction: column;
        row-gap: 30px;
    }
    .camera{
        width: 90%;
        height: fit-content;
        padding: 10px;
    }
    .watch{
        width: 90%;
        height: fit-content;
        padding: 10px;
    }
    .products{
        flex-direction: column;
        row-gap: 20px;
        width: 84%;
        margin-inline: 8%;
        padding: 0;
        padding-block: 20px;
    }
    .product-1{
        width: 100%;
        padding-block: 20px;
        padding-inline: 10px;
        p:nth-child(2){
            font-size: 30px;
            max-width: 100%;
        }
    }
    .pro-class-1{
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }
    .pro-class-1-heading{
        flex-direction: column;
        row-gap: 20px;
        width: 100%;
        padding: 0;
        text-align: center;
        margin: 0;
        p:nth-child(1){
            width: 100%;
        }
        p:nth-child(2){
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            gap: 5%; 
        }
        button:nth-child(1){
            width: 40%;
            font-size: 15px;
            margin-bottom: 20px;
        }
    }
    .pro-btn{
        width: 40%;
        padding-block: 10px;
        font-size: 12px;
        margin-bottom: 20px;
    }
    .phone-accesories{
        max-width: 98%;
        justify-content: center;
        flex-wrap: wrap;

    }
    #airpods{
        width: 70%;
        height: 40%;
    }
    .airpods{
        width: 45%;
        p:nth-child(2){
            font-size: 12px;
        }
        p:nth-child(3){
            font-size: 15px;
        }
        p:nth-child(4){
            font-size: 15px;
        }
    }
    .pro-head{
        width: 100%;
        p{
            font-size: 12px;
        }
    }
    .phone-div{
        width: 45%;
    }
    .Phone-img{
        width: 95%;
        height: 12rem;
        margin-top: 20px;
    }
    .products-2{
        justify-content: center;
        text-align: center;
        background-color: #ccc;
    }
    .products-3{
        justify-content: center;
        text-align: center;
        background-color: #ccc;
    }
    .pro-head-2{
        width: 100%;
        p{
            font-size: 12px;
        }
    }
    .tablet-div{
        width: 45%;
    }
    .tab-img{
        width: 95%;
        height: 12rem;
        margin-top: 20px;
    }
    .footer-menus-1{
        flex-direction: column;
        row-gap: 20px;
        width: 100%;
        padding: 0;
        padding-bottom: 50px;
        margin: 0;
    }
    .footer-row-1{
        display: flex;
        flex-direction: column;
        width: 95%;
        padding: 0;
        padding-left: 5%;
        h3{
            font-size: 20px;
            text-align: left;
        }
    }
    .footer-about{
        max-width: 100%;
        line-height: 30px;
    }
}
